<h1 class="center">Listing all articles</h1>

<div class="col-lg-10 col-lg-offset-1">
  <div align="center">
    <%= will_paginate %>
  </div>

  <%= render 'article', obj: @articles %>

  <div class="alignment">
    <%= will_paginate %>
  </div>
</div>
