<div class="col-md-8 col-md-offset-2 user margin">
  <% if current_user != @user %>
    <h1 class="alignment">Edit <%= "#{ @user.username }" %>'s account</h1>
  <% else %>
    <h1 class="alignment">Edit your account</h1>
  <% end %>

  <%= render 'form' %>
</div>
