<div class="center">
    <div class="jumbotron">
      <h1>About</h1>
      <p>Hello, Welcome to my Blog page here you can register an account and type your own stories!</p>
      <p>You can follow me also on social media for the newest updates.</p>
      <p>Author of page: Ivan Landeka</p>
      <p>Version: v1.0</p>
      <br/>
      <br/>
      <p><%= link_to 'Home', root_path, class: "red" %></p>
    </div>
</div>
