<div class="center">
    <div class="col-md-6 col-md-offset-3 user">
      <h1 class="alignment">About</h1>
      <img src="assets/me.png" class="img-circle alignment" alt="Me" width="150px" height="150px" />
      <p>Hello, Welcome to my Blog page here you can register an account and type your own stories!</p>
      <p>You can follow me also on social media for the newest updates.</p>
      <p>Author of page: Ivan Landeka</p>
      <p>Version: v1.0</p>
      <br/>
      <br/>
      <p>Back to: <%= link_to 'Home', root_path, class: "red" %></p>
    </div>
</div>
