<div class="center"><!-- Removed: jumbotron -->
  <h1 class="main col-lg-10 col-lg-offset-1">ALPHA BLOG</h1>
  <%= link_to "Sign up now", signup_path, class: "btn btn-danger btn-outline btn-lg btn-xlarge margin" %>
</div>
