<div class="center jumbotron">
  <h1>ALPHA BLOG</h1>
  <%= link_to "Sign up now", "#", class: "btn btn-danger btn-lg btn-xlarge" %>
</div>

<hr/>

<div id="wrapper" align="center">
  <div id="left">
    <p>This is a paragraph.</p>
  </div>
  <div id="right">
    <p>This is a paragraph.</p>
    <p><%= link_to 'Alpha Blog', articles_path %> | <%= link_to 'About', about_path %></p>
  </div>
</div>

<hr/>
