// $navbar-default-bg: lightblue;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

// General
body,html {
  font-family: 'Montserrat', sans-serif;
  height:100%;
  margin:0;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

footer ul {
  float: right;
  list-style: none;
}

footer small {
  float: left;
}

// Classes
.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('blog.jpg');
  background-size: cover;
  height: 500px;
}

.jumbotron h1 {
  color: #f44336;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: black;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.button:hover {
  background-color: #f44336;
}

// IDs
#logo {
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: grey;
  font-weight: bold;
}

#logo:hover {
  color: black;
  text-decoration: none;
}
