// $navbar-default-bg: lightblue;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

/*-- General --*/
html,body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  //background-color: #eaeaea !important;
  background-color: white !important;
}

footer {
  width: 100%;
  height: auto;
  //position: relative;
  bottom: 0;
  left: 0;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  //border-top: 10px solid #eaeaea;
  color: #6E6E6E;
}

footer a:hover {
  color: #f44336;
}

/*-- Classes --*/
.menu {
  margin-top: 20px;
}

.menu h5 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.menu ul {
  text-align: center !important;
  list-style-type: none;
}

.menu ul li a:hover {
  background-color: rgba(#6E6E6E,0.2) !important;
}

.alert-container {
  position: absolute;
  left: 0;
  right: 0;
}

.alert {
  position: relative;
  z-index: 999999;
  left: 0;
  right: 0;
}

.btn-xlarge {
  font-size: 1.7em;
  color: white !important;
}

/*Bootstrap button outline override*/
.btn-outline {
  background-color: transparent;
  border: 2px solid #f44336 !important;
  transition: all .5s;
}

.btn-outline:hover {
  background-color: #f44336;
}

.center {
  text-align: center;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background-color: rgba(#6E6E6E,0.2) !important;
}

.white {
  color: white;
}

.red:hover {
  color: #f44336;
}

.color {
  color: black !important;
}

.color:hover {
  color: #f44336 !important;
}

.alignment {
  margin-bottom: 40px;
  text-align: center;
}

.paginate {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.padding {
  margin-bottom: 5px;
}

.main {
  padding-top: 130px;
  padding-bottom: 100px;
  text-align: center !important;
  font-size: 7.9em;
  color: #f44336;
  font-weight: bold;
  letter-spacing: 5px;
}

.header {
  margin-bottom: 100px;
}

.margin {
  margin-bottom: 200px;
}

.navbar {
  border-style: none;
  border-radius: 0;
  position: fixed;
  width: 100%;
  padding: 0;
  z-index: 99; /* Put it in front - doesn't overlap*/
  border-left: 6px solid #f44336;
  height: 40px !important;
  background-color: rgba(255,255,255,0);
}

.user {
  background-color: rgba(#eaeaea,0.8);
  border-top: 6px solid #f44336;
  border-radius: 5px;
  padding: 5px;
}

.listing {
  list-style: none;
  text-align: center;
  padding-left: 0;
  display: inline;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px sold #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.button:hover {
  background-color: #f44336;
  color: white;
}

.chip {
  display: inline-block;
  padding: 0px 10px 0px 25px;
  height: 22px;
  line-height: 22px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.chip img {
  float: left;
  margin: -5px 20px 0px -26px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

/*-- IDs --*/
#wrapper {
  background: asset-url('6.jpg') no-repeat center center fixed;// pic #6
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

#logo {
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: black;
  font-weight: bold;
}

#logo:hover {
  color: #f44336;
  text-decoration: none;
}

// Code from w3schools - Scroll to top button
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 48px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  //opacity: 0.7;
  color: #00AAE3; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 17px; /* Some padding */
  font-size: 20px;
  background-color: transparent;
  border: 2px solid #00AAE3 !important;
  transition: all .5s;
}

#myBtn:hover {
  //opacity: 0.9;
  color: white;
  background-color: #00AAE3;
}

/*-- Media queries --*/
@media only screen and (max-width: 768px) {
  #myBtn {
    font-size: 14px;
    right: 20px;
  }
}

@media only screen and (max-width: 450px) {
  #myBtn {
    font-size: 12px;
    padding: 12px;
    right: 10px;
  }
}

@media only screen and (min-width: 769px) {
  a.color:hover {
    padding-bottom: 13px;
    border-bottom: 2px solid #f44336 !important;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: white !important;
    height: auto !important;
  }

  a.color:hover {
    border-bottom: none !important;
  }
}
