<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; 2017. <a href="http://www.landekaivan.tk">Ivan Landeka</a> All Rights Reserved.
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
