<div class="container">
  <footer class="footer">
    <div class="row col-sm-12">
      <div class="col-sm-3 col-sm-offset-1 menu">
        <h5>Pages</h5>
        <div class="list-group center">
          <a class="list-group-item red" href="<%= root_path %>"><i class="fa fa-home fa-fw fa-lg" aria-hidden="true"></i>&nbsp; Home</a>
          <a class="list-group-item red" href="<%= users_path %>"><i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp; Users</a>
          <a class="list-group-item red" href="<%= articles_path %>"><i class="fa fa-newspaper-o fa-fw" aria-hidden="true"></i>&nbsp; Articles</a>
          <a class="list-group-item red" href="#"><i class="fa fa-list-ul fa-fw" aria-hidden="true"></i>&nbsp; Categories</a>
        </div>
      </div>
      <div class="col-sm-3 col-sm-offset-1 menu">
        <h5>Info</h5>
        <div class="list-group center">
          <a class="list-group-item red" href="<%= about_path %>"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; About</a>
          <a class="list-group-item red" href="#"><i class="fa fa-phone fa-fw" aria-hidden="true"></i>&nbsp; Contact Us</a>
          <a class="list-group-item red" href="#"><i class="fa fa-check-square-o fa-fw" aria-hidden="true"></i>&nbsp; Terms of Use</a>
        </div>
      </div>
      <div class="col-sm-3 col-sm-offset-1 menu">
        <h5>Social</h5>
        <div class="list-group center">
          <a class="list-group-item red" href="facebook.com"><i class="fa fa-facebook-official fa-fw fa-lg" aria-hidden="true"></i>&nbsp; Facebook</a>
          <a class="list-group-item red" href="instagram.com"><i class="fa fa-instagram fa-fw fa-lg" aria-hidden="true"></i>&nbsp; Instagram</a>
          <a class="list-group-item red" href="twitter.com"><i class="fa fa-twitter fa-fw fa-lg" aria-hidden="true"></i>&nbsp; Twitter</a>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <div class="row col-sm-offset-4 col-sm-4 alignment" style="margin-top: 60px;">
      <small>
        Copyright &copy; 2017. <a href="http://www.landekaivan.tk/game.html">Ivan Landeka</a> All Rights Reserved.
      </small>
    </div>
  </footer>
</div>
